html
{
	height:100%;
}
body
{
	background-position:center;
	background-repeat:repeat;
	min-height:100%;
	margin:0;
	padding:0;
	padding-bottom:43px;
}
  
#center
{
	width:60%;
	margin:auto;
}
.collapsible 
{
	padding:10px;
 	background-color:white;
	opacity:0.9;
	border-radius : 5px;
}
.collapsible-row,.collapsible-header
{
	margin:auto;
	margin-top:10px;
}	
.collapsible-row
{
	margin-bottom:10px;
	border-radius : 5px;
}
 .collapsible-body
{
	background-color:white;
	opacity:0.9;
	border-radius : 5px;
	overflow:hidden;
}
.miniImage
{
	width:50px;
	height:50px;
	margin-right:20px;
}
.formChapitre, .formUser
{
	width:60%;
	margin:auto;
	margin-top:10px;
	background-color:white;
	opacity:0.9;
	padding:20px;
	border-radius:5px;
}
.formBook
{
	margin:auto;
	margin-top:10px;
	background-color:white;
	opacity:0.9;
	padding:20px;
	border-radius:5px;
}

.demiHauteur
{
	line-height:32px;
	text-align:center;
}
.row_footer
{
	margin-bottom:0PX !important;
}
#barreAside
{
	position:absolute;
	margin-right:10px;
	
}
#chapter h2
{
	width:80%;
	padding-left:20px;
}
#title
{
	background-color: cyan;
}
#barreMessage
{
	
	width:50%;	
	margin:auto;
	margin-top:100px;
	text-align:center;
	background-color:yellow;
	padding :15px;
	border-radius : 5px;
}
#infoMessage
{
	margin-top:20px;
	width:50%;	
	margin:auto;
	text-align:center;
	background-color:yellow;
	padding :15px;
	border-radius : 5px;
}
#message
{
	position:absolute;
	top:95%;
	background-color:green;
}
footer
{
	/*margin-top :30px;*/
	position:fixed;
	width:100%;
	bottom:0;
}
.page-footer
{
	padding-top:0 !important;
	margin-top:10px;
}
.row
{
	margin-bottom:0;
}
.button
{
	padding:10px;
	border-radius : 5px;
	margin:5px;
}
#user
{
	color:white;	
}
#frame
{
	display:flex;
	flex-direction: row;
	align-items:center;
	justify-content:center;
	width:80%;
	margin:auto;
}
#transfert
{
	padding:10px;
	margin:20px;
	border-radius : 5px;
}
#liste, #CRUD
{
	width:40%;
	background-color:white;
	padding:10px;
	border-radius : 5px;
	margin:20px;
	height:400px;
}
#CRUD
{
	align-items:center;
	text-align:center;
}